@model CSHonorsTemplate.Models.Club

@{
    ViewData["Title"] = "Enable";
}

<h1>Enable</h1>

<h3>Are you sure you want to enable this club?</h3>
<div>
    <h4>Club</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VeracrossId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VeracrossId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingFrequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingFrequency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetingLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Enable">
        <input type="hidden" asp-for="ClubId" />
        <input type="submit" value="Enable" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
