@model List<CSHonorsTemplate.Models.Person>
@{
    //Layout = "~/Views/Shared/_LayoutFullNew.cshtml";
}

<h1>Impersonate User</h1>

<table id="personTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Campus ID</th>
            <th>Unit</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.PersonId</td>
                <td>@person.Unit</td>
                <td>
                    <form asp-action="SetImpersonation" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="PersonId" value="@person.PersonId" />
                        <button type="submit" class="btn btn-primary">Impersonate</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#personTable').DataTable();
        });
    </script>
}